$red: #ff1b0bff;
$blue: #151927ff;
$gray: #ccccccff;

* { margin: 0; padding: 0;
    box-sizing: border-box;
    transition: 200ms; }
body { font-family: sans-serif;
    background-color: $gray;}
main { display: flex; justify-content: center; }

#navbar-open, button, input
{ cursor: pointer; }

.red { color: red; }

a { text-decoration: none; }



header {
    position: absolute;
    width: 100vw;

    .container {
        padding: 5px 10px;
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;
        

        #desk-logo, #desk-button-contact { display: none; }
        img#mobile-logo { height: 30px; }

        nav {
            background-color: $blue;
            width: 256px; height: 100%;

            position: fixed;
            right: -100%; top: 0;

            #navbar-close {
                height: 40px; width: 100%;
                padding-right: 10px;
                cursor: pointer;

                display: flex;
                justify-content: right;
                align-items: center;
            }
            ul {
                list-style: none;
                li {
                    text-align: center;
                    a {
                        line-height: 50px;
                        color: white;    
                    }
                    &:hover {
                        background-color: #0000003a;
                        a {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}

section.hero {
    .container {
        background-image: url('../images/hero.jpg');
        background-size: cover;
        background-position: center;

        padding: 0 30px;
        min-height: 300px; height: 70vh;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: white;
            font-size: 1.7em;
            text-transform: uppercase;
        }
    }
}



@media screen and (min-width: 768px) {
    .container {
        max-width: 1080px;
    }

    header {
        max-width: 1060px;

        .container {
            #mobile-logo, #navbar-open
            { display: none; }

            nav {
                position: relative !important;
                right: unset !important;
                top: auto !important;
                background: none;

                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 100%; max-width: 1080px;
                padding: 5px 20px;
                
                #desk-logo, #desk-button-contact
                { display: block; }
                #navbar-close, #contact-item
                { display: none; }

                img { height: 25px; }
                
                ul {
                    display: flex; gap: 25px;
                    li a { line-height: 1em; }
                    li:hover { background: none; }
                }

                #desk-button-contact {
                    background: none;
                    border: solid $red 1px;
                    border-radius: 100px;
                    padding: 5px 15px;

                    a {
                        color: $red;
                        text-transform: uppercase;
                    }

                    &:hover {
                        background-color: $red;
                        a { color: white; }
                    }
                }
            }
        }
    }

    section.hero {
        .container {
            padding: 0 100px;
        }
    }
}