@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #151927ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navbar-open, button, input {
  cursor: pointer;
}

.red {
  color: red;
}

a {
  text-decoration: none;
}

button, input {
  outline: none;
}

input {
  background: none;
  border: none;
  border-bottom: #151927ff solid 3px;
  color: #151927ff;
  width: 100%;
  padding: 5px 10px;
}

input[type="submit"] {
  display: block;
  height: 40px;
  background-color: #151927ff;
  border: none;
  color: white;
}

header {
  position: absolute;
  width: 100%;
  max-width: 1080px;
}

header .container {
  padding: 5px 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container #desk-logo, header .container #desk-button-contact {
  display: none;
}

header .container img#mobile-logo {
  height: 30px;
}

header .container nav {
  background-color: #151927ff;
  width: 256px;
  height: 100%;
  z-index: 100;
  position: fixed;
  right: -100%;
  top: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
}

header .container nav #navbar-close {
  height: 40px;
  width: 100%;
  padding-right: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav ul {
  list-style: none;
}

header .container nav ul li {
  text-align: center;
  -webkit-transition: 500ms;
  transition: 500ms;
}

header .container nav ul li a {
  line-height: 50px;
  color: white;
  -webkit-transition: 500ms;
  transition: 500ms;
}

header .container nav ul li:hover {
  background-color: #0000003a;
}

header .container nav ul li:hover a {
  color: #ff1b0bff;
}

section.hero .container {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 30px;
  min-height: 300px;
  height: 70vh;
  max-height: 720px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero .container h1 {
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
}

section.servicos .container {
  position: relative;
  background-color: white;
  padding: 3rem 2rem;
}

section.servicos .container h2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  text-align: center;
  color: #ccccccff;
  text-transform: uppercase;
  font-size: 2rem;
}

section.servicos .container .conteudo-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

section.servicos .container .conteudo-texto div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

section.servicos .container .conteudo-texto div h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

section.portifolio .container {
  background-color: #151927ff;
  color: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

section.portifolio .container .texto {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

section.portifolio .container .texto p i {
  font-size: .8rem;
}

section.portifolio .container .galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

section.portifolio .container .galeria img {
  width: 100%;
}

section.linha-de-vida .container {
  background-color: white;
  padding: 3rem;
  text-align: center;
  color: #151927ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

section.linha-de-vida .container div h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

section.linha-de-vida .container div h3 {
  font-weight: normal;
}

section.linha-de-vida .container div p {
  font-size: .8rem;
}

section.linha-de-vida .container img {
  width: 100%;
  border: #151927ff solid 10px;
  -webkit-box-shadow: #151927ff 10px 10px;
          box-shadow: #151927ff 10px 10px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

section.linha-de-vida .container img:hover {
  margin: -10px 10px 10px -10px;
  -webkit-box-shadow: 30px 30px;
          box-shadow: 30px 30px;
}

section.contato .container .formulario-back {
  background-image: url("../images/contato.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

section.contato .container .formulario-back .formulario {
  background-color: #ffffffe1;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contato .container .formulario-back .formulario h2 {
  text-transform: uppercase;
  color: #151927ff;
}

section.contato .container .formulario-back .formulario h2 span {
  color: #ff1b0bff;
}

section.contato .container .formulario-back .formulario p {
  font-size: .7rem;
}

section.contato .container .formulario-back .formulario form {
  margin-top: 2rem;
  position: relative;
  min-width: 350px;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4rem;
}

section.contato .container .formulario-back .formulario form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

section.contato .container .formulario-back .formulario form textarea {
  border: #151927ff solid 3px;
  background: none;
  font-family: sans-serif;
  font-size: .8rem;
  padding: 10px;
  resize: none;
  width: 100%;
  height: 10rem;
  outline: none;
}

section.contato .container .localizacao {
  height: 25rem;
}

section.contato .container .localizacao iframe {
  width: 100%;
  height: 100%;
}

footer .container {
  background-color: black;
  color: white;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

footer .container .formulario-inscricao {
  text-align: center;
  max-width: 300px;
  min-width: 300px;
  width: 300px;
}

footer .container .formulario-inscricao h2 {
  font-size: 1.3rem;
}

footer .container .formulario-inscricao input#emailInscricao {
  margin: 10px 0 20px 0;
  border-color: white;
  color: white;
}

footer .container .formulario-inscricao input#enviarInscricao {
  background-color: white;
  color: black;
}

footer .container .contatos {
  font-size: .9rem;
}

footer .container .contatos ul {
  list-style: none;
}

footer .container .contatos p {
  margin: 20px 0;
  font-style: italic;
}

footer .container .contatos ul.list-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

footer .container .contatos ul.list-two li a {
  color: white;
  font-size: 1.3rem;
}

#redirect {
  position: fixed;
  bottom: -100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: #3c4349;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 400px;
}

#redirect .info-icon {
  font-size: 50px;
  height: 100%;
}

#redirect .info * {
  font-size: .8rem;
}

#redirect .info p a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

#redirect button#infoClose {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1080px;
  }
  header {
    width: 100%;
  }
  header .container #mobile-logo, header .container #navbar-open {
    display: none;
  }
  header .container nav {
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100% !important;
    padding: 5px 20px;
  }
  header .container nav #desk-logo, header .container nav #desk-button-contact {
    display: block;
  }
  header .container nav #navbar-close, header .container nav #contact-item {
    display: none;
  }
  header .container nav img {
    height: 25px;
  }
  header .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
  }
  header .container nav ul li a {
    line-height: 1em;
  }
  header .container nav ul li:hover {
    background: none;
  }
  header .container nav #desk-button-contact {
    background: none;
    border: solid #ff1b0bff 1px;
    border-radius: 100px;
    padding: 5px 15px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  header .container nav #desk-button-contact a {
    color: #ff1b0bff;
    text-transform: uppercase;
  }
  header .container nav #desk-button-contact:hover {
    background-color: #ff1b0bff;
  }
  header .container nav #desk-button-contact:hover a {
    color: white;
  }
  section.hero .container {
    padding: 0 100px;
  }
  section.hero .container h1 {
    font-size: 1.7em;
  }
  section.servicos .container::after {
    content: "Serviços";
    position: absolute;
    right: 10%;
    bottom: 20px;
    color: #ccccccff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
  }
  section.servicos .container h2 {
    display: none;
  }
  section.servicos .container .conteudo-texto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.servicos .container .conteudo-texto div h3 {
    font-size: 1.4rem;
  }
  section.servicos .container .conteudo-texto div p {
    font-size: .8rem;
  }
  section.portifolio .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2rem;
    position: relative;
  }
  section.portifolio .container::before, section.portifolio .container::after {
    content: "";
    background-color: #ff1b0bff;
    width: 250px;
    height: 80px;
    position: absolute;
  }
  section.portifolio .container::before {
    left: 0;
    top: 0;
    border-radius: 0 0 20px 0;
  }
  section.portifolio .container::after {
    left: 0;
    bottom: 0;
    border-radius: 0 20px 0 0;
  }
  section.portifolio .container .texto {
    text-align: left;
    gap: 30px;
  }
  section.linha-de-vida .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: right;
  }
  section.linha-de-vida .container div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.4rem;
  }
  section.linha-de-vida .container img {
    width: 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  section.contato .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.contato .container .localizacao {
    width: 100%;
    height: auto;
  }
  footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  footer .container .contatos {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */